#ifndef SECRETS_H
#define SECRETS_H

// SALIN FILE INI MENJADI secrets.h DAN ISI DENGAN DATA ANDA
const char* SECRET_SSID = "NAMA_WIFI_ANDA";
const char* SECRET_PORTAL_URL = "URL_PORTAL_ANDA";
const char* SECRET_ACCOUNTS[][2] = {
  {"USERNAME_1", "PASSWORD_1"},
  {"USERNAME_2", "PASSWORD_2"}
};
const int SECRET_MAX_ACCOUNTS = 2;

#endif
